{% extends "layout.html" %}

{% block head %}


{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-5">
                <input id="of-kpi" type="text" style="height: 100%;"/>
                <button id="bt-kpi" class="btn btn-default" type="button">Buscar </button>
            </div>            
        </div>
        <div id= "kpi-listado" class="row">            
        </div>
    </div>   


<script>
    $(document).ready(function(e) {
        $(document).on('click','.btn.btn-default',function(){           
            listarKpis()
        });
        function listarKpis()
        {   
            var url = 'recolectarDatosKpi/'+$('#of-kpi').val()                                
            $.ajax({                
                url: url,
                method: 'GET',
                contentType: "application/json",
                dataType: "json",                              
                success: function(result) {
                    result.forEach(function(obj){
                        var linea = ""
                        linea +='<div class="col-sm-3">'
                        linea +='<div class="card">'
                        linea +='<div class="card-body">'
                        linea +='<h5 style = "text-align: center;" class="card-title">OFID '+obj.ofid+'</h5>'
                        linea +='<p class="card-text">Paquetes por minuto: '+Math.round(obj.paquetesporminuto * 100) / 100+' </p> '
                        linea +='<p class="card-text">Paquete min Real OF turno: '+Math.round(obj.paqueteminrealofturno * 100) / 100 +'</p> '
                        linea +='<p class="card-text">Sobrepeso OF turno: '+Math.round(obj.sobrepeso * 100) / 100+"%"+' </p> '
                        linea +='<p class="card-text">Paq Hechos: '+obj.paquetes+' </p> '
                        linea +='<p class="card-text">Tiempo Of: '+obj.tiempoof+' </p> '
                        linea +='</div>'
                        linea +='</div>'
                        linea +='</div>'
                        $("#kpi-listado").append(linea)
                    })
                    
                }
            })
            
        }
    });
</script>

{% endblock %}